# Folders
ignore
themes/smashing_magazine

# Files
config.php
.config.php.bak

# All files that Ends with a particular extension
*~


# Can ignore specific files
#.DS_Store

# Use wildcards as well
#*~
#*.swp

# Can also ignore all directories and files in a directory.
#tmp/**/* 


