### Folders
ignore
themes/smashing_magazine

# Ignoring some folder
images/
dumps/
logs/
testing/

## Ignoring New modules for the moment(ftm)
# Essestially wanting to ignore nntp module here
sources/modules
themes/default/modules
languages/en_US/modules
classes/modules


# Files
config.php
.config.php.bak

# All files that Ends with a particular extension
*~


# Can ignore specific files
#.DS_Store

# Use wildcards as well
#*~
#*.swp

# Can also ignore all directories and files in a directory.
#tmp/**/* 


